@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1638699303460') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kafei:before {
  content: "\e640";
}

.icon-mv:before {
  content: "\e8a5";
}

.icon-yinle:before {
  content: "\e79a";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-z-like:before {
  content: "\e6bf";
}

.icon-daohangpingjia:before {
  content: "\e61f";
}

.icon-paixingbang:before {
  content: "\e64b";
}

.icon-shipin:before {
  content: "\e637";
}

.icon-xingbienv:before {
  content: "\e641";
}

.icon-xingbienan:before {
  content: "\e642";
}

.icon-shoucang:before {
  content: "\e663";
}

.icon-fenxiang:before {
  content: "\e620";
}

.icon-geshou:before {
  content: "\e647";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-bofang1:before {
  content: "\e696";
}

.icon-xiazai:before {
  content: "\e60f";
}

.icon-zhuanji:before {
  content: "\e645";
}

.icon-liebiao:before {
  content: "\e60c";
}

.icon-24gl-folderPlus:before {
  content: "\eabe";
}

.icon-yuzhong:before {
  content: "\e6d5";
}

.icon-dingdan:before {
  content: "\e610";
}

.icon-suijibofang:before {
  content: "\e665";
}

.icon-zhuti:before {
  content: "\e646";
}

.icon-danquxunhuan:before {
  content: "\e62a";
}

.icon-liebiaoxunhuan:before {
  content: "\e62b";
}

.icon-qingganfenbu:before {
  content: "\e6b1";
}

.icon-bofangliebiao:before {
  content: "\e625";
}

.icon-jiantou:before {
  content: "\e615";
}

.icon-arrow_down:before {
  content: "\e643";
}

.icon-jiantou1:before {
  content: "\e612";
}

.icon-arrow-right:before {
  content: "\e613";
}

.icon-huangguan:before {
  content: "\e701";
}

.icon-fenxiang1:before {
  content: "\e614";
}

.icon-gangqin:before {
  content: "\e655";
}

.icon-logo-dark1-copy:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e628";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-guanyu:before {
  content: "\e658";
}

.icon-GitHub:before {
  content: "\e508";
}

.icon-github1:before {
  content: "\ea0b";
}

.icon-boke:before {
  content: "\e70e";
}

.icon-gitee:before {
  content: "\e62c";
}

